/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@257&display=swap");

body {
	background-color: #ffffff;
	font-family: "Raleway", sans-serif;
	color: #111111;
	margin: 0;
}

a {
	font-style: normal;
	color: #2696a1;
	font-weight: 600;
	text-decoration: none;
}

.Welcome {
	padding-left: 5%;
	margin-top: 50px;
	min-height: 70vh;
}

.navbar-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;

}

.hero-wrap {
	display: flex;
	direction: row;
}

.introbutton {
	width: 50%;
	background-image: linear-gradient(75deg, #117277, #2696a1);
	padding: 20px;
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	border: 0;
	transition: 0.3s;
	border-radius: 5px;
	outline: 0;

}


.introbutton:hover {
	transform: translateY(-5px);
	box-shadow: 1px 5px 10px #888888;
	transition: 0.3s;
}

li {
	display: inline;
	padding-right: 10px;
	text-decoration: none;

}

.Introduction {
	min-width: 50%;
	display: flex;
	justify-content: top;
	align-items: left;
	flex-direction: column;
	margin-right: 5%;
}

h2 {
	font-size: 40px;
	font-weight: bold;
}

.heropara {
	font-size: 25px
}

footer {
	background: #111111;
	color: #ffffff;
	max-width: 100%;
	height: 200px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;

}